@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    

}

#header {
    height: 100vh;
    background-position: center;
    background-size: cover;
    align-items: center;
}
#home{
    height: 100vh;

}
#main {
    font-size: 1.3125rem;
   margin-top: 1.875rem;
    width: 18.75rem;
    font-family: 'Merriweather', serif;
    justify-content: center;
    align-items: center;
}
#animation {
    font-size: 3.125rem;
    text-align: center;
    color: #ff3b5f;
    padding: 50vh;
    position: relative;

    
}


#pic {
    width: 20rem;
    height: 20rem;
}
 .container {
    margin-left: 5rem;
    margin-right: 6.25rem;

    
}


/* --------------------Personal Info------------------ */
#personalinfo{
    height: 110vh;
}
.name , .name1 , .name1 a{
    font-size: 2rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.062rem;
}

#sideNav {
    width: 15.625rem;
    height: 100vh;
    position: fixed;
    right: -250rem;
    top: 0;
    background-color: #f67c92;
    z-index: 2;
    transition: 0.5s;

}

nav ul li {
    list-style: none;
    margin: 2.5rem 1.25rem;
    font-size: 1.5rem;
}

nav ul li a {
   text-decoration: none;
   color: #fff;

    
}

#menuBtn {
    width: 3.125rem;
    position: fixed;
    right: 4.0625rem;
    top: 2.1875rem;
    z-index: 2;
    cursor: pointer;

}


/*--------- Footer-------- */
#Footer {
    padding: 3.125rem 0 1.875rem;

}
.link-title{
    margin-left: 1.875rem;
}
hr {
    width: 100%;
    border: 0;
    border-top: 0.0625rem solid #f67c92 ;
}

.container-footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}

.footer-left-col {
    flex-basis: 50%;
    margin-top: 60rem;
}


.footer-right-col {
    flex-basis: 35%;
    margin-top: 60rem;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h5 {
    color:#fd5b7e;
    margin-bottom: 1.25rem;
    font-size: 1.375rem;
}

.link-title p {
    color:rgb(82, 82, 82);
    font-size: 1.25rem;
}

.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copyright-text{
    font-size: 1.375rem;
}

/* ---------------Social Icons--------------- */
.socialicons {

    width: 3.125rem;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.socialicons img {
    display: block;
    width: 1.25rem;
    margin: 0 auto 1.875rem;
    cursor: pointer;
}


.maintext {
    font-size: 1.625rem;
    padding-top: 1.25rem;
    padding-left: 2.25rem;
    font-family: 'Roboto', sans-serif;
}


/*----------------------Aim------------------------------*/
#Aim{
    height: 80vh;
}
.static-txt{
    color: #ff1944;
    font-size: 2.5rem;
    max-width: 80%;
    min-width: 20%;
}

.link {
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.0625rem;
    color: #000;

}

.aim1{
    display:flex;
    margin-left: 5rem;
    margin-top: 3.75rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}



/*---------------------Contact--------------------------------------*/
#Contact {
    height: 120vh;
    justify-content: center;
    align-items: center;

}

.download{
    text-decoration: none;
    background-color: #ff3b5f;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
    margin-left: 3.125rem;
    margin-bottom: 3.125rem;
}

.download:hover{
    border: 0.125rem solid #ff3b5f;
    background-color: #fff;
    color: #ff3b5f;
}

.message {
    font-size: 1.625rem;
    color: black;
}
.box{
    padding: 1.25rem;

    width: 25rem;
    height: 37.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}
form input {
    width: 80%;
    padding:0.625rem 0.75rem;
    margin-bottom: 0.3125rem;
    margin-left: 3.125rem;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 0.125rem solid #ff3b5f;
}
form input:focus{
    width: 26.25rem;
    border: 0.125rem solid #ad0927;
    font-size: 1rem;
}
textarea {
    width: 80%;
    height: 10rem;
    padding: 0.625rem 0.75rem;
    margin-left: 3.125rem;
    margin-bottom: 0.3125rem;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 0.125rem solid #ff4c6d;
}
textarea:focus{
    width: 28.125rem;
    border: 2rem solid #90041e;
    font-size: 1rem;
    
}
.box input[type = "submit"]{
    margin-top: 1.25rem;  
    
}

.box input[type = "reset"] , .box input[type = "submit"]  {
    width: 10rem;
    border: none;
    margin-top: 1.25rem;
    padding: 1.25rem;
    border: 0.125rem solid #ff3b5f;
    border-radius: 3.125rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.txtarea {
    width: 70%;
    height: 9.375rem;
    border: none;
    margin:0.3125rem;
    border: 0.125rem solid #ff3b5f;
    font-size: 1rem;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width:770px)  {
    html {
        font-size: 80%;
    }
}

@media only screen and (max-width:768px)  {
    html {
        font-size: 80%;
    }
}
