@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;

}

.construction{
    align-items: center;
    justify-content: center;
    width: 100%;
}
.construction img{
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 50px;
}
.txt{
    font-size: 32px;
    color: #ff3b5f;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
#main {
    font-size: 21px;
   margin: 40px;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.txt a{
    text-decoration: none;
    font-size: 32px;
    color: #ff3b5f;
    font-family: 'Lato', sans-serif;
    
    
}

@media only screen and (max-width:770px) {
    .construction{
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        width: 100%;

    }
    .construction img{
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 160px;
        margin-left: 50px;
    }
    .txt{
        font-size:20px;
        color: #ff3b5f;
        margin-top: 50px;
    }
    .txt a{
        text-decoration: none;
        font-size: 20px;
        color: #ff3b5f;
        
    } 
}
